amqp==5.3.1
asgiref==3.9.0
async-timeout==5.0.1
billiard==4.2.1
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Django==5.2.4
django-appconf==1.1.0
django-ckeditor==6.7.3
django-compressor==4.5.1
django-js-asset==3.1.2
django-resized==1.0.3
dotenv==0.9.9
gunicorn==23.0.0
h11==0.16.0
idna==3.10
kombu==5.5.4
packaging==25.0
pillow==11.3.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
pyTelegramBotAPI==4.27.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
rcssmin==1.1.2
redis==5.2.1
requests==2.32.4
rjsmin==1.2.2
six==1.17.0
sqlparse==0.5.3
telebot==0.0.5
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.34.0
vine==5.1.0
wcwidth==0.2.13